@font-face{
  font-family:"AmnestyTradeGothicW04BdCnNo-20";
  src:url("fonts/AmnestyTradeGothicW04BdCnNo-20.eot?#iefix");
  src:url("fonts/AmnestyTradeGothicW04BdCnNo-20.eot?#iefix") format("eot"),url("fonts/AmnestyTradeGothicW04BdCnNo-20.woff") format("woff"),url("fonts/AmnestyTradeGothicW04BdCnNo-20.ttf") format("truetype"),url("fonts/AmnestyTradeGothicW04BdCnNo-20.svg#AmnestyTradeGothicW04BdCnNo-20") format("svg");
}

h1, h2, h3, h4, h5, h6  {
  font-family: "AmnestyTradeGothicW04BdCnNo-20", HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
}

.amnesty-yellow {
  color: #ffff00;
}

.bg-amnesty-yellow {
  background-color: #ffff00;
}


