<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Amnesty Facebook app</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="./styles/tachyons.css">
      <link rel="stylesheet" href="./styles/main.css">
  </head>

  <body>

    <div id="app"></div>

    <script id="hello" type="text/x-underscore-template" >
      <h1><%- _1NOMINATE %></h1>
      <p><%- _1NOMINATE_DESC %></p>
      <button class="btn-login"><%- _1NOMINATE_BTN %></button>
    </script>

    <script id="friendsList" type="text/x-underscore-template" >
      <h1><%- _1NOMINATE %></h1>
      <p><%- _1NOMINATE_DESC %></p>
      <button class="btn-back"><%- _2NOMINATE_BTN %></button>
      <p><%- _2NOMINATE_CALL %></p>
    </script>

    <!-- vendor -->

      <script src="./vendor/jquery.min.js"></script>
      <script src="./vendor/underscore-min.js"></script>
      <script src="./vendor/backbone-min.js"></script>
      <script src="./vendor/backbone.radio.min.js"></script>
      <script src="./vendor/backbone.marionette.min.js"></script>

    <!-- app files -->
      <script src="./facebook.js"></script>
      <script src="./data/strings.js"></script>
      <script src="./models/person.js"></script>
      <script src="./models/friend.js"></script>
      <script src="./collections/friends.js"></script>
      <script src="./views/hello.js"></script>
      <script src="./views/friends.js"></script>
      <script src="./app.js"></script>

  </body>
</html>
