<div class="dtc w2 w3-ns v-mid">
  <img src="{{picture.data.url}}" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
</div>
<div class="dtc v-mid pl3 tl-ns pl4">
  <h1 class="f4 f3-ns fw6 lh-title black mv0">{{name}}</h1>
</div>
